/* Body Css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
html, body {
    overflow-x: hidden;
}
body * {
    font-family: "Poppins", sans-serif;
}
h1, h2 {
    font-family: "Sansita", sans-serif;
}
ul, ol {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: unset;
}
img {
    width: 100%;
}
/* Header Css */
header.header-row {
    padding: 0 90px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin: 0 13px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-transform: capitalize;
    transition: all 0.4s linear;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    text-decoration: underline;
}
.w-btn {
    border-radius: 50px;
    border: 1px solid #000;
    background: transparent;
    padding: 13px 81px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
.navbar-expand-lg .navbar-nav .dropdown:after {
    content: "\f107";
    font-family: 'FontAwesome';
    color: #000;
    position: absolute;
    top: 3px;
    right: 0;
}
.navbar-expand-lg .navbar-nav .dropdown .nav-link {
    margin-right: 20px;
}
.navbar-expand-lg .navbar-nav .dropdown ul {
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: absolute;
    width: 295px;
    opacity: 0;
    visibility: hidden;
    left: 12px;
}
.navbar-expand-lg .navbar-nav .dropdown ul li {
    list-style: none;
}
.navbar-expand-lg .navbar-nav .dropdown ul li a {
    margin: 0 !important;
    text-decoration: unset;
    padding: 5px 10px;
    border-bottom: 1px solid;
    font-size: 14px;
}
.navbar-expand-lg .navbar-nav .dropdown ul li:last-child a {
    border: 0;
}
.navbar-expand-lg .navbar-nav .dropdown ul li a:hover {
    background: #4c689a;
    color: #fff;
    border-color: #4c689a;
}
.navbar-expand-lg .navbar-nav .dropdown:hover ul {
    opacity: 1;
    visibility: visible;
}
.navbar-expand-lg .navbar-nav .dropdown ul .inner-dropdown {
    position: relative;
}
.navbar-expand-lg .navbar-nav .dropdown ul .inner-dropdown:after {
    content: "\f054";
    font-family: 'FontAwesome';
    position: absolute;
    right: 7px;
    top: 7px;
}
.navbar-expand-lg .navbar-nav .dropdown ul .inner-dropdown ul {
    position: absolute;
    left: 295.8px;
    top: 0;
    opacity: 0;
}
.navbar-expand-lg .navbar-nav .dropdown ul .inner-dropdown:hover ul {
    opacity: 1;
}
.navbar-expand-lg .navbar-nav .dropdown ul .inner-dropdown:hover:after {
    color: #fff;
}
/* Banner Css */
section.banner-row {
    padding: 0 48px;
}
.banner-inner-row {
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 136px 116px 112px 112px;
}
.banner-sec h1 {
    color: #FFF;
    font-size: 66px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.banner-sec p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
    opacity: 0.8;
    margin-bottom: 29px;
    width: 85%;
}
.banner-sec .w-btn {
    color: #fff;
    border-color: #fff;
    padding: 13px 41px;
}
/* About Css */
section.about-row {
    padding: 152px 238px 70px;
    background-image: url(../images/about-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 64%;
}
section.about-row .row {
    margin-bottom: 80px;
}
.about-sec h2 {
    color: #1E1E1E;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.about-sec h3 {
    color: #000;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    opacity: 0.8;
    letter-spacing: -0.7px;
    width: 75%;
    margin-bottom: 30px;
}
.about-sec p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    width: 79%;
}
section.about-row .row-reverse .about-sec p {
    width: 87%;
}
.about-sec p:last-child {
    margin: 0;
}
/* Services Css */
section.services-row {
    padding: 0 48px;
}
.services-inner-row {
    background-image: url(../images/services-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 150px 0 160px;
}
.services-head {
    padding: 0 150px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-head h2 {
    color: #FFF;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    margin: 0;
}
.services-head a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-position: from-font;
    text-transform: uppercase;
    opacity: 0.8;
}
.services-inner-sec {
    border: 1px solid #EBEBEB;
    border-radius: 63px;
    padding: 227px 42px 43px;
    margin-top: -202px;
}
.services-inner-sec h3 {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.66px;
    text-transform: capitalize;
    margin-bottom: 13px;
}
.services-inner-sec p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
}
.services-inner-sec .w-btn {
    border-radius: 79px;
    background: #FFF;
    width: 100%;
    border-color: #FFF;
}
/* Trust Css */
section.trusted-row {
    padding: 140px 238px;
}
.trusted-sec h2 {
    color: #1E1E1E;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 27px;
}
.trusted-sec p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.27px;
    opacity: 0.8;
    width: 80%;
    margin-bottom: 27px;
}
.trusted-sec ul {
    margin-bottom: 27px;
    width: 100%;
}
.trusted-sec ul li {
    list-style: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.24px;
    opacity: 0.8;
    padding: 12px 0 12px 30px;
    background: #4c6a9c29;
    border-radius: 50px;
    margin-bottom: 15px;
}
.trusted-sec p:last-child {
    margin: 0;
    width: 85%;
}
/* Blogs Css */
section.blog-row {
    padding: 0 238px 140px;
}
.blog-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.blog-head h2 {
    color: #000;
    font-size: 110px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 90px;
    margin: 0;
}
.blog-head .w-btn {
    background: #EAEAEA;
    border: 0;
    padding: 13px 53px;
    color: #5B5B5B;
}
.blog-sec {
    border-radius: 63px;
    background: #4C6A9C;
    padding: 35px 35px 35px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.blog-sec .text {
    width: 80%;
    margin-right: 108px;
}
.blog-sec img.blg-img {
    width: 20%;
}
.blog-sec .text h3 {
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.525px;
    margin-bottom: 20px;
}
.blog-sec .text p {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.3px;
    opacity: 0.8;
    border-bottom: 1px solid #ffffff9e;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.blog-sec .text ul {
    border-radius: 15px;
    background: #101F26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 33px;
}
.blog-sec .text ul li {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    line-height: 14px;
}
.blog-sec .text ul li img {
    width: 12px;
    height: 12px;
    object-fit: scale-down;
    margin-right: 13px;
}
/* CTA Css */
section.cta-row {
    padding: 0 48px 120px;
}
.cta-inner-row {
    border-radius: 63px;
    background: #EEF1F6;
    padding: 73px 98px;
}
.cta-sec h2 {
    color: #1E1E1E;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.cta-sec p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.27px;
    opacity: 0.8;
    width: 80%;
    margin: 0 auto 23px;
}
.cta-sec .w-btn {
    border-radius: 79px;
    background: #4C6A9C;
    border-color: #4C6A9C;
    color: #fff;
    padding: 13px 24px;
}
/* Footer Css */
footer.footer-row {
    padding: 0 48px 40px;
}
.footer-inner-row {
    background-image: url(../images/footer-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 91px 59px 55px;
}
.logo img {
    width: 100%;
    height: 112px;
    object-fit: scale-down;
}
.footer-links {
    text-align: right;
    border-bottom: 1px solid #ffffff4f;
    padding: 50px 0;
    margin-bottom: 66px;
}
.footer-links ul li {
    display: inline-block;
    margin-left: 25px;
}
.footer-links ul li a {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-transform: capitalize;
}
.footer-details ul li {
    display: inline-block;
    margin-right: 90px;
}
.footer-details ul li a {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.footer-details ul li a i {
    margin-right: 23px;
}
.footer-details ul li:nth-child(2) a {
    text-transform: unset;
}
.footer-social ul {
    text-align: right;
}
.footer-social ul li {
    display: inline-block;
    margin-left: 24px;
}
.footer-social ul li i {
    color: #fff;
    font-size: 15px;
}
/* Copyright Css */
.copyright-row {
    margin-top: 50px;
}
.copyright-row p {
    margin: 0;
    color: #424242;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 6.3px;
    text-transform: uppercase;
}
.copyright-row p a {
    color: #424242;
}
/* Account Css */
section.inner-banner-row .banner-inner-row {
    background-size: cover;
    border-radius: 50px;
}
section.account-row {
    padding: 80px 0;
}
.account-sec .form-group {
    margin-bottom: 15px;
}
.account-sec .form-group label {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.27px;
    text-transform: capitalize;
    margin-bottom: 7px;
}
.account-sec form {
    width: 100%;
    margin: auto;
}
.account-sec form .col-lg-6 {
    padding: 0 20px;
}
.account-sec form h4 {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.7px;
    margin-bottom: 15px;
}
.account-sec .form-group input[type="text"], .account-sec .form-group select {
    height: 45px;
    font-size: 15px;
    padding-left: 20px;
    color: #000;
}
.account-sec .form-group input[type="text"]::placeholder {
    color: #000;
}
.account-sec .w-btn {
    border-radius: 79px;
    background: #4C6A9C;
    color: #fff;
    border-color: #4C6A9C;
    padding: 13px 55px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.account-sec p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.27px;
}
.account-sec .flx-group {
    display: flex;
    justify-content: space-between;
}
.account-sec .flx-group .form-group:first-child {
    width: 69%;
}
.account-sec .flx-group .form-group {
    width: 30%;
}
/* Pricing Css */
section.pricing-row {
    padding: 80px 0;
}
.pricing-head-sec {
    margin-bottom: 50px;
}
.pricing-head-sec h2 {
    color: #1E1E1E;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}
.pricing-head-sec p {
    color: #000;
    letter-spacing: 0.27px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}
.pricing-head-sec h3 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.7px;
    margin-bottom: 10px;
}
.pricing-head-sec ul {
    margin-left: 25px;
}
.pricing-head-sec ul li {
    color: #000;
    letter-spacing: 0.27px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 6px;
}
.pricing-head-sec ul li ul {
    margin-top: 10px;
}
.pricing-sec {
    margin-bottom: 50px;
}
.pricing-sec h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.7px;
}
.pricing-sec .table__head{
    color: #FFF;
    font-weight: 700;
    background: #4C6A9C;
    white-space: nowrap;
}
.pricing-sec .table-bordered td, .pricing-sec .table-bordered th{
    border: 1px solid #4c689a;
    border-bottom-color: #4c689a !important;
    font-size: 16px;
}
.pricing-sec .table-bordered th {
    font-family: 'Sansita';
}
.pricing-sec p {
    color: #000;
    letter-spacing: 0.27px;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 0;
}
/* Login Css */
section.login-row {
    padding: 80px 0 0;
}
.login-sec h2 {
    margin-bottom: 5px;
    text-align: center;
}
.register-sec h2 {
    margin-bottom: 30px;
}
.login-sec p {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    color: #282828;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.login-sec .form-group {
    margin-bottom: 24px;
}
.login-sec .form-group label {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
}
.login-sec .form-group input {
    background: #F7F8FA;
    height: 59px;
    border: 0;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}
.login-sec button.w-btn {
    display: table;
    margin: 0 auto 25px;
    padding: 16px 60px;
}
.login-sec p a {
    color: #d6031f;
    text-decoration: underline;
}
/* States Css */
.lines-row {
    padding: 80px 148px;
}
.lines-map-sec ul li img {
    width: 40px;
    animation: arrowbtnb 1s linear infinite;
}
.lines-map-sec ul li {
    list-style: none;
    position: absolute;
    top: 0;
}
.lines-map-sec {
    position: relative;
}
.lines-map-sec ul li:nth-child(1) {
    top: 258px;
    left: 134px;
}
.lines-map-sec ul li:nth-child(2) {
    left: 270px;
    top: 50px;
}
.lines-map-sec ul li:nth-child(3) {
    left: 50px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 395px;
}
@keyframes arrowbtnb{
    0%{
       transform: translatey(0px);
    }
    50%{
       transform: translatey(-5px);
    }
    100%{
       transform: translatey(0px);
    }
}
.lines-map-sec img.map {
    border-radius: 20px;
}
.state-sidebar {
    padding: 30px 30px;
    background: #f9f9f9;
    width: 95%;
    margin: auto;
    margin-right: 0;
}
.state-sidebar h3 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    opacity: 0.8;
    letter-spacing: -0.7px;
    margin-bottom: 10px;
}
.state-sidebar ul {
    padding: 10px 0 0;
    height: 450px;
    overflow-y: scroll;
}
.state-sidebar ul li {
    list-style: none;
    font-size: 16px;
    border-bottom: 1px solid #e5e4e4;
    text-decoration: none;
    color: #000;
    padding: 10px 0;
}
.state-sidebar ul li a {
    color: #000;
}
section.lines-inner-row {
    padding: 80px 0;
}
.lines-sec p {
    color: #000;
    letter-spacing: 0.27px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
}
.lines-sec h3 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.7px;
    margin-bottom: 10px;
}
.lines-sec ul {
    margin-left: 25px;
}
.lines-sec ul li {
    color: #000;
    letter-spacing: 0.27px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
    list-style: outside;
}
.lines-sec ul li strong {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
}
section.lines-inner-row .state-sidebar {
    width: 100%;
}
.lines-sec  a {
    color: #000;
}
.lines-sec strong {
    font-weight: 600;
}
/*Contact Css*/
.contact-sec h2, .contact-lft-sec h2 {
    color: #000;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    opacity: 0.8;
    letter-spacing: -0.7px;
    font-family: 'Poppins';
    margin-bottom: 20px;
}
.contact-sec form {
    width: 100%;
}
.contact-lft-sec ul {
    background: #4c689a;
    padding: 50px 30px;
}
.contact-lft-sec ul li {
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    list-style: none;
    position: relative;
    padding-left: 25px;
}
.contact-lft-sec {
    width: 90%;
    margin: auto;
}
.contact-lft-sec ul li a {
    color: #fff;
}
.contact-lft-sec ul li i {
    font-weight: 600;
    margin-right: 0;
    position: absolute;
    left: 0;
    top: 5px;
}

.w-btn:hover {
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16) !important;
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    background: #4c689a;
    border-color: #4c689a;
    color: #fff;
}